.standard-input {
  padding: var(--spacing-sm);
  border: 1px solid var(--text-muted);
  border-radius: var(--radius-sm);
  background: var(--bg-background-default);
  color: var(--text-default);
  font-size: 1rem;
  height: 36px; /* match across all inputs */
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.2s ease, background 0.3s ease;
  /* width: 60vh; */
  width: 100%;
  align-content: center;
}