.result-card {
  width: 100%;
  aspect-ratio: 2/3;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards;
  transition: transform 0.3s ease;
}

.result-card:hover {
  transform: scale(1.03);
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Hover overlay with gradient */
.hover-overlay {
  position: absolute;
  top: 0;       /* start at top of card */
  left: 0;
  width: 100%;
  height: 100%; /* cover the full card */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* push text to bottom */
  align-items: flex-start;

  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8),  /* strong dark at bottom */
    rgba(0, 0, 0, 0.0)   /* transparent at top */
  );

  opacity: 0;
  transition: opacity 0.3s ease;
}

.result-card:hover .hover-overlay {
  opacity: 1;
}

.hover-text {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  text-align: left;
  padding: 0.75em; /* small consistent padding inside hover overlay */
}

.genres, .runtime {
  font-size: 0.9rem;
}

.title {
  font-size: 1.0rem;
  font-weight: bold;
}