.model-title {
  border-bottom: 1px solid var(--text-muted);
  align-self: center;
}

.result-comparison-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
  align-items: stretch;
  border: 1px solid var(--text-muted);
  border-radius: var(--radius-lg);
  padding: var(--spacing-md);
}

.result-comparison-cell {
  padding: 0.25em;
  border-radius: var(--radius-md);
  width: 100%;
  display: flex;             
  justify-content: center;   
  align-items: center; 
}

.result-comparison-cell:hover {
  background-color: var(--secondary-default);
  cursor: pointer;
}