.model-selector {
  display: flex;
  gap: 10px;
}

button {
  padding: 8px 16px;
  background-color: var(--text-muted);
  cursor: pointer;
  border-radius: var(--radius-md);
  transition: background-color 0.2s, border-color 0.2s;
  font-weight: 300;
}

button.active {
  background-color: var(--primary-default);
  color: var(--text-default);
}

button:hover {
  background-color: var(--primary-dark);
}

.embedding-subtitle {
  font-size: 1.1em;
  font-weight: 400;
}