.recommendation-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-lg);
    border: 1px solid var(--text-muted);
    border-radius: var(--radius-lg);
    background-color: var(--bg-background-light);
}