<div class="model-params-popup-wrapper">
    <ng-container [ngSwitch]="model">
        <app-item-similarity-inputs
            *ngSwitchCase="'item-similarity'"
            [metaDataInput]="itemSimilarityMetaData!"
            [medium]="medium"
            [placeholder]="`Search ${medium}s...`"
            [autocompleteZIndex]="1100"
            [searchResultPopupZIndex]="1100"
            [embeddingZIndex]="1100"
            (metaDataChange)="metaDataChange.emit($event)"
            (resultsChange)="resultsChange.emit($event)"
        />
        <app-item-item-cf-inputs
            *ngSwitchCase="'item-item-cf'"
            [metaDataInput]="itemItemCFMetaData!"
            [medium]="medium"
            [placeholder]="`Search ${medium}s...`"
            [autocompleteZIndex]="1100"
            [searchResultPopupZIndex]="1110"
            (metaDataChange)="metaDataChange.emit($event)"
            (resultsChange)="resultsChange.emit($event)"
        />
        <app-user-user-cf-inputs
            *ngSwitchCase="'user-user-cf'"
            [metaDataInput]="userUserCFMetaData!"
            [medium]="medium"
            [placeholder]="`Search ${medium}s...`"
            [autocompleteZIndex]="1100"
            [searchResultPopupZIndex]="1110"
            [ratingPopupZIndex]="1115"
            [ratingSummaryZIndex]="1115"
            [embeddingZIndex]="1100"
            (metaDataChange)="metaDataChange.emit($event)"
            (resultsChange)="resultsChange.emit($event)"
        />
        <app-hybrid-inputs 
            *ngSwitchCase="'hybrid'"
            [metaDataInput]="hybridMetaData!"
            [medium]="medium"
            [autocompleteZIndex]="1100"
            [searchResultPopupZIndex]="1110"
            [ratingPopupZIndex]="1115"
            [ratingSummaryZIndex]="1115"
            [infoPopupZIndex]="1100"
            (metaDataChange)="metaDataChange.emit($event)"
            (resultsChange)="resultsChange.emit($event)"
        />
    </ng-container>
</div>