<div class="model-params-popup-wrapper">
    <ng-container [ngSwitch]="model">
        <!-- <app-item-similarity-inputs
            *ngSwitchCase="'item-similarity'"
            [medium]="medium"
            [placeholder]="`Search ${medium}s...`"
            [autocompleteZIndex]="1100"
            [searchResultPopupZIndex]="1100"
            (metaDataChange)="MetaDataChange.emit($event)"
        /> -->
        <app-item-item-cf-inputs
            *ngSwitchCase="'item-item-cf'"
            [metaDataInput]="itemItemCFMetaData!"
            [medium]="medium"
            [placeholder]="`Search ${medium}s...`"
            [autocompleteZIndex]="1100"
            [searchResultPopupZIndex]="1110"
            (metaDataChange)="MetaDataChange.emit($event)"
            (resultsChange)="resultsChange.emit($event)"
        />
    </ng-container>
</div>