.result-card {
  width: 100%;
  aspect-ratio: 2/3; /* 200x300 ratio */
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end; /* overlay at bottom */
  color: white;
  /* background-color: black; */
}

.overlay {
  background: rgba(0, 0, 0, 0.5); /* semi-transparent overlay */
  width: 100%;
  padding: 0.5rem;
  text-align: center;
}

.result-card-title {
  font-size: 1.1rem;
  font-weight: bold;
}
