.result-card {
  width: 100%;
  aspect-ratio: 2/3;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards;
  transition: transform 0.3s ease;
}

.result-card:hover {
  transform: scale(1.03);
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Hover overlay with gradient */
.hover-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent 50%);
  /* background-color: black; */
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  padding-top: 500%;
}

.result-card:hover .hover-overlay {
  opacity: 1;
}

.hover-text {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  text-align: center;
}

.genres, .runtime {
  font-size: 0.9rem;
  font-weight: bold;
}