.result-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  width: 200px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-default);
}

.result-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.result-card-details {
  font-size: 0.9rem;
  color: var(--text-muted);
}