<div class="model-container">
    <div class="title-info-container">
        <div class="title">
            Item-Item Collaborative Filtering Recommendation
        </div>

        <lucide-icon 
            [img]="Info" 
            class="info-icon"
            appPopup
            [popupComponent]="ModelInfo"
            [popupContext]="{
                info_title: info_title,
                info_description: info_description
            }"
        ></lucide-icon>
    </div>

    <app-item-item-cf-inputs 
        [medium]="medium"
        [width]="width"
        [placeholder]="`Search ${medium}s...`"
        (selectedItemChange)="onItemSelected($event)"
        (resultsChange)="onResultsChange($event)"
    />
</div>  