<ng-template
  #ratingSummaryPopup
  let-ratings="ratings"
  let-ratingsChange="ratingsChange"
  let-medium="medium"
  let-search="search"
  let-handleSelect="handleSelect"
  let-refresh="refresh"
>

  <div class="popup-title">Ratings</div>

  <app-search-bar 
    [searchQuery]="query"
    [search]="search"
    [width]="width"
    [placeholder]="placeholder"
    [popupTitle]="`Searching ${medium}s...`"
    [autocompleteZIndex]="1005"
    [searchResultPopupZIndex]="1010"
    [autocompleteForceCloseSignal]="closeAutocompleteTrigger"
    (selectedItemChange)="handleSelect($event); this.clearSearch(); refresh()"
    (cleared)="clearSearch(); refresh()"
  />

  <div
    *ngFor="let rating of ratings(); trackBy: trackByName"
    class="search-result"
  >
    <div class="rating-summary">
      <div class="label">
        {{ rating.name }}
      </div>

      <div class="rating-container">
        <app-slider 
          [label]="'Rating'"
          [min]="0",
          [max]="5",
          [step]="0.5"
          [value]=rating.value
          (valueChange)="updateRating(ratings, ratingsChange, rating.name, $event); refresh()"
        />

        <lucide-icon
          [img]="Trash2"
          size="22"
          (click)="removeRating(ratings, ratingsChange, rating.name); refresh()"
          class="trash-icon clear-icon"
        ></lucide-icon>
      </div>
    </div>
  </div>
</ng-template>