<ng-template
  #ratingSummaryPopup
  let-ratings="ratings"
  let-medium="medium"
  let-search="search"
  let-onItemSelected="onItemSelected"
  let-onSearchClick="onSearchClick"
  let-onSearchSelect="onSearchSelect"
  let-loadingSearchResults="loadingSearchResults"
  let-searchResults="searchResults"
>
  <div class="popup-title">Ratings</div>

  <div class="search-wrapper">
    <app-autocomplete
        [placeholder]="`Search for ${medium}s to rate...`"
        [width]="'760px'"
        [fetchResults]="search"
        (valueSelected)="onItemSelected($event)"
    ></app-autocomplete>

    <lucide-icon
        [img]="Search"
        class="search-icon"
        (mousedown)="onSearchClick()"
        appPopup
        [popupTemplate]="searchResultsPopup.template"
        [popupContext]="{
            search_title: 'Searching movies...',
            loadingSearchResults: loadingSearchResults,
            results: searchResults,
            onResultSelected: onSearchSelect
        }"
    ></lucide-icon>
  </div>

  <div
    *ngFor="let rating of ratings; trackBy: trackByName"
    class="search-result"
  >
    <div class="rating-summary">
      <div class="label">
        {{ rating.name }}
      </div>

      <input
        type="number"
        class="rating-input"
        [(ngModel)]="rating.value"
        min="0"
        max="5"
        step="0.5"
      />
    </div>
  </div>
</ng-template>

<app-search-results #searchResultsPopup/>
