<ng-template
  #ratingSummaryPopup
  let-ratings="ratings"
  let-medium="medium"
  let-search="search"
  let-handleSelect="handleSelect"
>

  <div class="popup-title">Ratings</div>

  <app-search-bar 
    [searchQuery]="query"
    [search]="search"
    [width]="width"
    [placeholder]="placeholder"
    [popupTitle]="`Searching ${medium}s...`"
    [autocompleteZIndex]="1005"
    [searchResultPopupZIndex]="1010"
    [autocompleteForceCloseSignal]="closeAutocompleteTrigger"
    (selectedItemChange)="handleSelect($event)"
  />

  <div
    *ngFor="let rating of ratings(); trackBy: trackByName"
    class="search-result"
  >
    <div class="rating-summary">
      <div class="label">
        {{ rating.name }}
      </div>

      <input
        type="number"
        class="rating-input"
        [ngModel]="rating.value"
        (ngModelChange)="updateRating(rating.name, $event)"
        min="0"
        max="5"
        step="0.5"
      />
    </div>
  </div>
</ng-template>