<div class="rating-summary-container">
  <div class="popup-title">Ratings</div>

  <app-search-bar
    [autocompleteSearch]="autocompleteSearch",
    [popupSearch]="popupSearch"
    [placeholder]="placeholder"
    [autocompleteZIndex]="autocompleteZIndex"
    [searchResultPopupZIndex]="searchResultPopupZIndex"
    [autocompleteForceCloseSignal]="closeAutocompleteTrigger"
    (selectedItemChange)="handleItemSelected($event)"
    (cleared)="clearSearch()"
  />

  <div *ngFor="let rating of ratings(); trackBy: trackByName" class="search-result">
    <div class="rating-summary">
      <div class="label">{{ rating.name }}</div>

      <div class="rating-container">
        <app-slider
          [label]="'Rating'"
          [min]="0"
          [max]="5"
          [step]="0.5"
          [value]="rating.value"
          (valueChange)="updateRating(rating.name, $event)"
        />
        <lucide-icon
          [img]="Trash2"
          size="22"
          (click)="removeRating(rating.name)"
          class="trash-icon clear-icon"
        ></lucide-icon>
      </div>
    </div>
  </div>
</div>
