.selected-item-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.selected-item-display {
  display: flex;
  align-items: center;
  gap: 0.5em;
  align-self: center;
}

.selected-item-text {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.selected-item-label {
  font-weight: 800;
  color: var(--secondary-default);
}

.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 3em;
}
