<div class="model-container">
    
    <div class="title-info-container">
        <div class="title">Hybrid Filtering Recommendation</div>

        <lucide-icon 
            [img]="Info" 
            class="info-icon"
            appPopup
            [popupComponent]="ModelInfo"
            [popupContext]="{
                info_title: info_title,
                info_description: info_description
            }"
            [zIndex]="modelInfoPopupZIndex"
        ></lucide-icon>
    </div>

    <app-hybrid-inputs 
        [medium]="medium"
        [width]="width"
        [autocompleteZIndex]="autocompleteZIndex"
        [searchResultPopupZIndex]="searchResultPopupZIndex"
        [ratingPopupZIndex]="ratingPopupZIndex"
        [ratingSummaryZIndex]="ratingSummaryZIndex"
        (metaDataChange)="onMetaDataChange($event)"
        (resultsChange)="resultsChange.emit($event)"
    />
</div>  