<div class="model-container">
    <div class="title-info-container">
        <div class="title">Item Similarity Recommendation</div>

        <lucide-icon 
            [img]="Info" 
            class="info-icon"
            appPopup
            [popupTemplate]="modelInfoPopup.template"
            [popupContext]="{
                info_title: info_title,
                info_description: info_description
            }"
        ></lucide-icon>
    </div>
    
    <app-item-similarity-inputs
        [medium]="medium"
        [width]="width"
        [placeholder]="`Search ${medium}s...`"
        (selectedItemChange)="onItemSelected($event)"
        (resultsChange)="onResultsChange($event)"
    />

    <app-embedding-option 
        (embeddingSelected)="onSelectEmbedding($event)"
    />
</div>

<app-model-info #modelInfoPopup/>