<div class="model-container">
    <div class="title-info-container">
        <div class="title-group">
            <div class="title">Item Similarity Recommendation</div>

            <lucide-icon 
                [img]="Info" 
                class="info-icon"
                appPopup
                [popupComponent]="ModelInfo"
                [popupContext]="{
                    info_title: info_title,
                    info_description: info_description
                }"
                [zIndex]="modelInfoPopupZIndex"
            ></lucide-icon>
        </div>
    </div>
    
    <app-item-similarity-inputs
        [medium]="medium"
        [width]="width"
        [placeholder]="`Search ${medium}s...`"
        [autocompleteZIndex]="autocompleteZIndex"
        [searchResultPopupZIndex]="searchResultPopupZIndex"
        (metaDataChange)="onMetaDataChange($event)"
        (resultsChange)="resultsChange.emit($event)"
    />
</div>