.search-parameters-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.number-of-recs-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.search-button-container {   
    display: flex;    
    align-items: center;
    justify-content: center;
    text-align: center;   
    gap: 1em;
    position: relative;
}

.search-button-container > div:has(.spinner) {
    position: absolute;
    left: 100%;
    margin-left: 1em; 
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {
    .button-wrapper {   
        flex-direction: column
    }
}