.search-parameters-container {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.number-of-recs-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.edit-button {
    display: inline-block;
    padding: var(--spacing-sm) var(--spacing-lg);
    background-color: var(--primary-default);
    color: var(--text-default);
    border: none;
    border-radius: var(--radius-sm);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-button:hover {
    background-color: var(--primary-dark);
}

.search-button-container {   
    display: flex;    
    align-items: center;   /* vertical alignment of children */
    justify-content: center; /* <-- horizontally center the whole row */
    text-align: center;   
    gap: 1em; /* optional spacing if needed */
}


.search-button {
    display: inline-block;
    padding: var(--spacing-sm) var(--spacing-lg);
    background-color: var(--secondary-default);
    color: var(--text-default);
    border: none;
    border-radius: var(--radius-sm);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: var(--secondary-dark);
}


.loading-icon {
  position: absolute;
  left: calc(100% + 0.75rem);
  top: 50%;
  transform: translateY(-40%);
}