.hybrid-model-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  background-color: var(--bg-background-default2);
  border: 1px solid var(--text-muted);
  padding: var(--spacing-md);
  border-radius: var(--radius-md);
}