<div class="item-similarity-recommendation-container">
    <div class="title-info-container">
        <div class="title">Item Similarity Recommendation</div>

        <lucide-icon 
            [img]="Info" 
            class="info-icon"
            appPopup
            [popupTemplate]="modelInfoPopup.template"
            [popupContext]="{
                info_title: info_title,
                info_description: info_description
            }"
        ></lucide-icon>
    </div>

    <div class="search-wrapper">
        <app-autocomplete
            [(query)]="searchQuery"
            placeholder="Search movies..."
            [fetchResults]="search"
            (valueSelected)="onMovieSelected($event)"
            class="search-input"
        ></app-autocomplete>

        <lucide-icon
            [img]="Search"
            class="search-icon"
            (mousedown)="onSearchClick()"
            appPopup
            [popupTemplate]="searchResultsPopup.template"
            [popupContext]="{
                search_title: 'Searching movies...',
                loadingSearchResults: loadingSearchResults,
                results: searchResults,
                onResultSelected: onSearchSelect
            }"
        ></lucide-icon>
    </div>

    <div 
        *ngIf="selectedMovie"
        class="selected-movie-display"
    >
        <div class="selected-movie-text-container">
            Selected Movie: 
            <div 
                class="selected-movie-label"
            >
                {{ selectedMovie }}
            </div>
        </div>
        <lucide-icon
            [img]="Trash2"
            size="18"
            (click)="clearSelectedMovie()"
            class="trash-icon"
        ></lucide-icon>
    </div>

    <div class="number-of-recs-container">
        <div 
            class="number-of-recommendations-label"
        >
            Number of Recommendations:&nbsp;
        </div>
        <input 
            [(ngModel)]="numRecommendations" 
            [placeholder]="10" 
            class="standard-input num-recs-input" 
        />
    </div>

    <div class="search-button">
        <div 
            class="standard-button"
            (click)="onRecommend(selectedMovie)"
        >
            Find Recommendations!
        </div>
    </div>
</div>  

<app-results 
    *ngIf="movies && movies.length > 0",
    [results]="movies"
/>

<app-model-info #modelInfoPopup/>
<app-search-results #searchResultsPopup/>