<div class="item-similarity-recommendation-container">
    <div class="title-info-container">
        <div class="title">Item Similarity Recommendation</div>

        <lucide-icon 
            [img]="Info" 
            class="info-icon"
            appPopup
            [popupTemplate]="modelInfoPopup.template"
            [popupContext]="{
                info_title: info_title,
                info_description: info_description
            }"
        ></lucide-icon>
    </div>

    <div class="search-wrapper">
        <app-autocomplete
            [(query)]="searchQuery"
            [placeholder]="`Enter ${medium} or description`"
            [fetchResults]="search"
            (valueSelected)="onItemSelected($event)"
            class="search-input"
        ></app-autocomplete>

        <lucide-icon
            [img]="Search"
            class="search-icon"
            (mousedown)="onSearchClick()"
            appPopup
            [popupTemplate]="searchResultsPopup.template"
            [popupContext]="{
                search_title: 'Searching movies...',
                loadingSearchResults: loadingSearchResults,
                results: searchResults,
                onResultSelected: onSearchSelect
            }"
        ></lucide-icon>
    </div>

    <div 
        *ngIf="selectedItem"
        class="selected-item-display"
    >
        <div class="selected-item-text-container">
            Selected {{medium}}: 
            <div 
                class="selected-item-label"
            >
                {{ selectedItem }}
            </div>
        </div>
        <lucide-icon
            [img]="Trash2"
            size="18"
            (click)="clearSelectedItem()"
            class="trash-icon"
        ></lucide-icon>
    </div>

    <div class="number-of-recs-container">
        <div 
            class="number-of-recommendations-label"
        >
            Number of Recommendations:&nbsp;
        </div>
        <input 
            type="number"
            [(ngModel)]="numRecommendations" 
            (ngModelChange)="onNumRecommendationsChange($event)"
            [placeholder]="10" 
            min="1"
            max="50"
            step="1"
            class="standard-input num-recs-input" 
        />
    </div>

    <div class="search-button-container">
        <div class="button-wrapper">
            <div 
                class="edit-button" 
                [routerLink]="['/select-method', medium]"
            >
                Change Method
            </div>
            <div 
                class="search-button"
                (click)="onRecommend()"
            >
                Find Recommendations!
            </div>
        </div>
        <div
            *ngIf="!recommendationsReady()"
            class="loading-icon"
        >
            <lucide-icon
            [img]="Loader"
            class="spinner"
            />
        </div>
    </div>
</div>  

<app-results 
    *ngIf="items().length > 0"
    [results]="items()"
    (rendered)="onResultsRendered($event)"
/>

<app-model-info #modelInfoPopup/>
<app-search-results #searchResultsPopup/>