.item-similarity-recommendation-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-lg);
    border: 1px solid var(--text-muted);
    border-radius: var(--radius-lg);
    background-color: var(--bg-background-light);
}

.title-info-container {
    position: relative;       /* allows the icon to be positioned relative to the title */
    width: 100%;              /* so the title can be centered in the container */
    text-align: center;       /* centers the title text */
}

.search-container {
    position: relative;       /* allows the icon to be positioned relative to the title */
    width: 100%;              /* so the title can be centered in the container */
    display: inline-block;
    text-align: center;
}

.title {
    font-size: 1.5em;
    display: inline-block;    /* shrink to fit content */
}

.info-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translateX(13rem); /* initial offset */
    transform-origin: center center;
    width: 20px;
    height: 20px;
    color: var(--text-muted);
    transition: transform 0.2s ease, color 0.3s ease;
}

.info-icon:hover {
    transform: translate(-50%, -50%) translateX(13rem) scale(1.05); /* keep X offset the same! */
    color: var(--secondary-default);
    cursor: pointer;
}

.number-of-recs-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.num-recs-input {
    width: 60px;
}

.number-of-recommendations-label {
    margin-right: var(--spacing-sm);
}

.search-button-container {
    position: relative;     
    display: inline-flex;    
    text-align: center;   
}

.search-button {
    display: inline-block;
    padding: var(--spacing-sm) var(--spacing-lg);
    background-color: var(--primary-default);
    color: var(--text-default);
    border: none;
    border-radius: var(--radius-sm);
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: var(--primary-default);
}

.loading-icon {
  position: absolute;
  left: calc(100% + 0.75rem);
  top: 50%;
  transform: translateY(-40%);
}

.search-button:hover {
    background-color: var(--primary-dark);
}

.model-info-popup-title {
  font-size: 1.6em;
  font-weight: 600;
  line-height: 1.3;
  border-bottom: 1px solid var(--text-muted);
  padding-bottom: var(--spacing-sm);
  letter-spacing: 0.3px;
}

/* Center the wrapper on the page */
.search-wrapper {
  position: relative;     
  display: inline-block;    
  text-align: left;        
}

/* The input box */
.search-input {
  width: 400px;             
}

/* The search icon */
.search-icon {
  position: absolute;
  right: -2rem;            
  top: 50%;                  
  transform: translateY(-60%); 
  width: 20px;
  height: 20px;
  color: var(--text-muted);
  cursor: pointer;
  transition: color 0.2s ease, transform 0.2s ease;
}

.search-icon:hover {
  color: var(--secondary-default);
  transform: translateY(-60%) scale(1.05);
}

.selected-item-display {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
}

.selected-item-text-container {
    display: flex;
    flex-direction: row;
    gap: 0.2em;
}

.selected-item-label {
    font-weight: 800;
    color: var(--secondary-default);
    transform: translateY(-10%);
}

.trash-icon {
    color: var(--text-muted);
    cursor: pointer;
    transition: color 0.2s ease, transform 0.2s ease;
}

.trash-icon:hover {
  color: var(--secondary-default);
  transform: translateY(5%) scale(1.05);
}