.movies-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical centering */
    align-items: stretch;     /* horizontal centering */
    gap: 1em;
    width: var(--page-width);          
    margin: 2em auto;  
    background-color: var(--bg-background-default);
    color: var(--text-default);
}        
