<div class="model-tickbox-container">
  <div class="model-tickbox-core">
    <input
      type="checkbox"
      [checked]="showModel()"
      (change)="testLog($event)"
    />
    <div class="subtitle">{{ ModelTitles[model()] }}</div>
  </div>
  <button
    class="edit-button compare-edit-button"
    [style.visibility]="showModel() ? 'visible' : 'hidden'"
    appPopup
    [popupComponent]="ModelParamsPopup"
    [popupContext]="{
      medium: medium(),
      model: model(),
      numRecommendations: numRecommendations,
      metaData: currentMetaData(),
      MetaDataChange: {
        emit: onMetaDataChange.bind(this)
      },
      resultsChange: {
        emit: onResultsChange.bind(this)
      }
    }"
    [zIndex]="1100"
    (click)="onEditClick()"
  >
    Edit Parameters
  </button>
</div>