<div class="model-tickbox-container">
  <div class="model-tickbox-core">
    <input
      type="checkbox"
      [checked]="showModel()"
      (change)="onShowModel($event.target.checked)"
    />
    <div class="subtitle">{{ ModelTitles[model()] }}</div>
  </div>
  <button
    class="edit-button compare-edit-button"
    [style.visibility]="showModel() ? 'visible' : 'hidden'"
    appPopup
    [popupComponent]="ModelParamsPopup"
    [popupContext]="getPopupContext()"
    [zIndex]="1100"
  >
    Edit Parameters
  </button>
</div>