.autocomplete-wrapper {
  position: relative;  
  display: block; 
  width: 100%; 
  min-width: 0; 
  box-sizing: border-box; 
}

.autocomplete-dropdown {
  position: absolute; 
  top: 100%;           
  left: 0;
  width: 100%;            
  max-height: 200px;     
  overflow-y: auto;
  background-color: var(--bg-background-default); 
  border: 1px solid var(--text-muted);
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.autocomplete-item {
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  background: var(--bg-background-default);
  border-bottom: 1px solid var(--text-muted);
  color: var(--text-default)
}

.autocomplete-item:hover {
  background-color: var(--secondary-default);
}