<div class="model-container">
    <div class="title-info-container">
        <div class="title">User-User Collaborative Filtering Recommendation</div>

        <lucide-icon 
            [img]="Info" 
            class="info-icon"
            appPopup
            [popupTemplate]="modelInfoPopup.template"
            [popupContext]="{
                info_title: info_title,
                info_description: info_description
            }"
        ></lucide-icon>
    </div>

    <app-user-user-cf-inputs 
        [medium]="medium"
        [placeholder]="`Search ${medium}s...`"
        [width]="width"
        (numSimilarUsersChange)="onNumSimilarUsersChange($event)"
        (ratingsChange)="onRatingsUpdate($event)"
    />

    <app-embedding-option 
        (embeddingSelected)="onSelectEmbedding($event)"
    />

</div>  

<app-model-info #modelInfoPopup/>